.one {
  position: absolute;
  font-family: 'Rubik', sans-serif;
  left: 0;
  right: 0;
  padding-left: 50px;
  padding-right: 30px;
  height: 100%;
  overflow-y: scroll;
  color: black;
  z-index: 2;
}

.two {
  position: sticky;
  padding-top: 15px;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #7e98df;
  background-color: white;
  z-index: 2;
}
.close {
  position: absolute;
  left: -20px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 0 0 0 0;
  font-size: 14px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  transform: rotate(45deg);
}
.close:hover {
  cursor: pointer;
  border-bottom: 2px solid #7e98df;
  border-left: 2px solid #7e98df;
}
.sub-two-1 {
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}

.sub-two-1 .friend-profile {
  padding: 0;
  position: relative;
  height: 100%;
  width: 65px;
  border-radius: 50px;
}
.sub-two-1 .friend-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.sub-two-1 .friend-name {
  text-align: left;
  position: relative;
  width: 60%;
  margin-left: 15px;
  padding: 0;
}
.friend-name h5 {
  font-size: 16px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 8px;
}
.friend-name h5 img {
  position: relative;
  top: -2px;
  margin-left: 5px;
  width: 13px;
  height: 13px;
}
.friend-name .p-online {
  color: rgb(0, 184, 0);
  font-size: 12px;
  height: 20px;
  overflow: hidden;
  position: relative;
  line-height: 15px;
  margin-bottom: 0;
}
.friend-name .p-offline {
  color: rgb(129, 129, 129);
  font-size: 12px;
  height: 20px;
  overflow: hidden;
  position: relative;
  line-height: 15px;
  margin-bottom: 0;
}
.sub-two-1 .dots {
  font-size: 14px;
  text-align: right;
  background-color: white;
  right: 0;
  position: absolute;
  height: 100%;
  display: flex;
  padding: 0;
}
.sub-dots {
  position: absolute;
  height: 100%;
  top: 50px;
  left: -280px;
  height: 350px;
  width: 300px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px 40px;
  background-color: #7e98df;
  border-radius: 40px 10px 40px 40px;
}
.sub-dots-call,
.sub-dots-delete,
.sub-dots-mute,
.sub-dots-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
}
.sub-dots-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  position: relative;
}
.sub-dots-call h6,
.sub-dots-delete h6,
.sub-dots-mute h6,
.sub-dots-search h6,
.sub-dots-profile h6 {
  cursor: pointer;
  font-weight: 400;
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
}
.sub-two-1 .dots img {
  position: relative;
  margin: auto;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.sub-two-1 .dots img:hover {
  right: 2px;
  width: 22px;
  height: 22px;
}
.noChat {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.noChat p {
  position: relative;
  color: #848484;
  font-size: 20px;
  margin: auto;
  font-family: 'Rubik', sans-serif;
  align-items: center;
}
.three {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 590px;
  overflow-y: scroll;
}

.one::-webkit-scrollbar,
.three::-webkit-scrollbar {
  display: none;
}

.msgRow {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 0;
}
.chat {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.msgRow .profile {
  position: relative;
  width: 55px;
  height: 50px;
}
.msgRow .profile2 {
  border: 1px solid;
  border-bottom: none;
  width: 15px;
  height: 20px;
  border-radius: 50px 0 0 0;
  z-index: 0;
  background-color: white;
  box-shadow: 2px -5px 15px rgba(0, 0, 0, 0.623);
}
.msgRow .profile img {
  position: absolute;
  bottom: 0;
  width: 45px;
  border-radius: 50%;
}
.msg {
  position: relative;
  max-width: 60%;
}
.msg p {
  position: relative;
  border-radius: 10px;
  min-width: 50px;
  min-height: 30px;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.671);
  z-index: 0;
}

.four {
  height: 70px;
  margin-top: 5px;
  position: sticky;
  bottom: 0;
  padding-bottom: 15px;
  background-color: white;
  left: 0;
  width: 100%;
}
.typing {
  position: relative;
  margin: auto;
  border-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.typing input {
  padding-left: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(87, 87, 87, 0.267);
  z-index: 2;
}
.typing textarea {
  padding-left: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  height: 100% !important;
  border-radius: 10px;
  border: 1px solid rgba(87, 87, 87, 0.267);
  z-index: 1;
}
.typing .imgIcon {
  position: absolute;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  z-index: 2;
  right: 20px;
}
.imgIcon img {
  cursor: pointer;
}

.fP {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 360px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.719);
  box-shadow: 2px -5px 15px rgba(0, 0, 0, 0.623);
}
.fP img {
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}
